@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  html {
    font-family: "Merriweather", serif;
    overflow: hidden;
    @apply bg-night;
  }
}

@layer utilities {
  .playfair {
    font-family: "Playfair Display", serif;
  }

  .action-shadow {
    background-size: 100% 200%;
    background-image: linear-gradient(
      to top,
      #37c0f6 50%,
      rgba(0, 0, 0, 0) 50%
    );
    box-shadow: 10px 10px 0px 0px rgba(227, 249, 247, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .action-shadow:focus {
    box-shadow: 0px 0px 0px 0px rgba(227, 249, 247, 0.2);
    background-position: 0 10%;
    outline: none;
    border-color: #37c0f6;
    transform: translateY(-5px);
  }

  .action-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 0px 0px rgba(227, 249, 247, 0.2);
    background-position: 0 100%;
    color: "#F9F9F9";
  }

  .logo {
    padding: 4px;
    background-size: 100% 200%;
    background-image: linear-gradient(
      to top,
      #37c0f6 50%,
      rgba(0, 0, 0, 0) 50%
    );
    transition: all 0.3s ease-in-out;
  }

  .logo:hover {
    background-position: 0 10%;
    transform: translate(4px, 0px);
  }

  .logo:focus {
    outline: none;
    background-position: 0 -10%;
  }

  .logo:focus-visible {
    outline: none;
  }

  .social {
    padding: 4px;
    padding-right: 10px;
    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 98%,
      #37c0f6 2%
    );
    transition: all 0.3s ease-in-out;
    outline: none;
  }
  .social:hover {
    background-position: 100% 0;
  }
  .social:focus {
    background-position: 100% 0;
    color: #37c0f6;
  }
}
